/* footer */
.footer{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e8eee8b4;
  /* gap: 20px; */
  height: 40px;
  padding-top: 10px;
  text-align: justify;
}
.Privacy{
  margin-left: 40px;
  margin-bottom: 50px;
}
.policylink{
  margin-left: 850px;

}
.terms{
  margin-left: 19px;
}

